@font-face {
	font-family: 'pf_din_text_comp_promedium';
	src: url('../fonts/pfdintextcomppro-xblackitalic/pfdintextcomppro-xblackitalic.eot');
	src: local('pfdintextcomppro-xblackitalic'), local('../fonts/pfdintextcomppro-xblackitalic/pfdintextcomppro-xblackitalic'),
		url('../fonts/pfdintextcomppro-xblackitalic/pfdintextcomppro-xblackitalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pfdintextcomppro-xblackitalic/pfdintextcomppro-xblackitalic.woff') format('woff'),
		url('../fonts/pfdintextcomppro-xblackitalic/pfdintextcomppro-xblackitalic.ttf') format('truetype');
	font-weight: 1000;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'pf_din_text_comp_promedium';
	src: url('../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium.eot');
	src: local('pfdintextcomppro-medium'), local('../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium'),
		url('../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium.woff') format('woff'),
		url('../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'pf_din_text_comp_promedium';
	src: url('../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular.eot');
	src: local('pfdintextcomppro-regular'), local('../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular'),
		url('../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular.woff') format('woff'),
		url('../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Verdana';
	src: url('../fonts/Verdana_Bold/Verdana_Bold.eot');
	src: local('Verdana_Bold'), local('../fonts/Verdana_Bold/Verdana_Bold'),
		url('../fonts/Verdana_Bold/Verdana_Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Verdana_Bold/Verdana_Bold.woff') format('woff'),
		url('../fonts/Verdana_Bold/Verdana_Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Verdana';
	src: url('../fonts/Verdana_Italic/Verdana_Italic.eot');
	src: local('Verdana_Italic'), local('../fonts/Verdana_Italic/Verdana_Italic'),
		url('../fonts/Verdana_Italic/Verdana_Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Verdana_Italic/Verdana_Italic.woff') format('woff'),
		url('../fonts/Verdana_Italic/Verdana_Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Verdana';
	src: url('../fonts/Verdana_regular/Verdana_regular.eot');
	src: local('Verdana_regular'), local('../fonts/Verdana_regular/Verdana_regular'),
		url('../fonts/Verdana_regular/Verdana_regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Verdana_regular/Verdana_regular.woff') format('woff'),
		url('../fonts/Verdana_regular/Verdana_regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

