@font-face {
  font-family: 'pf_din_text_comp_promedium';
  src: url("../fonts/pfdintextcomppro-xblackitalic/pfdintextcomppro-xblackitalic.eot");
  src: local("pfdintextcomppro-xblackitalic"), local("../fonts/pfdintextcomppro-xblackitalic/pfdintextcomppro-xblackitalic"), url("../fonts/pfdintextcomppro-xblackitalic/pfdintextcomppro-xblackitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-xblackitalic/pfdintextcomppro-xblackitalic.woff") format("woff"), url("../fonts/pfdintextcomppro-xblackitalic/pfdintextcomppro-xblackitalic.ttf") format("truetype");
  font-weight: 1000;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'pf_din_text_comp_promedium';
  src: url("../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium.eot");
  src: local("pfdintextcomppro-medium"), local("../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium"), url("../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium.woff") format("woff"), url("../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'pf_din_text_comp_proregular';
  src: url("../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular.eot");
  src: local("pfdintextcomppro-regular"), local("../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular"), url("../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular.woff") format("woff"), url("../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Verdana';
  src: url("../fonts/Verdana_Bold/Verdana_Bold.eot");
  src: local("Verdana_Bold"), local("../fonts/Verdana_Bold/Verdana_Bold"), url("../fonts/Verdana_Bold/Verdana_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Verdana_Bold/Verdana_Bold.woff") format("woff"), url("../fonts/Verdana_Bold/Verdana_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Verdana';
  src: url("../fonts/Verdana_Italic/Verdana_Italic.eot");
  src: local("Verdana_Italic"), local("../fonts/Verdana_Italic/Verdana_Italic"), url("../fonts/Verdana_Italic/Verdana_Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Verdana_Italic/Verdana_Italic.woff") format("woff"), url("../fonts/Verdana_Italic/Verdana_Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Verdana';
  src: url("../fonts/Verdana_regular/Verdana_regular.eot");
  src: local("Verdana_regular"), local("../fonts/Verdana_regular/Verdana_regular"), url("../fonts/Verdana_regular/Verdana_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Verdana_regular/Verdana_regular.woff") format("woff"), url("../fonts/Verdana_regular/Verdana_regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body.active {
  overflow: hidden;
}

#wrap {
  padding-top: 147px;
}

@media (max-width: 768px) {
  #wrap {
    padding-top: 165px;
  }
}

@media (max-width: 490px) {
  #wrap {
    padding-top: 245px;
  }
}

.center {
  max-width: 1160px;
  padding: 0 18px;
}

/* header-------------------header-----------------------header----------------------header-----------------header */
#header {
  height: auto;
  background: #f4f1ef;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding-bottom: 12px;
}

@media (max-width: 768px) {
  #header {
    position: absolute;
  }
}

.separator {
  background: url(../images/header/header.png) repeat-x 0 0;
  margin: 18px 0 12px;
}

@media (max-width: 768px) {
  .separator {
    overflow: visible;
    position: fixed;
    z-index: 999;
    top: 77px;
    left: 0;
    margin: 0 0 0 -20px;
    width: calc(100% + 20px);
  }
  .separator::before {
    content: '';
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 77px;
    background: #f4f1ef;
    -webkit-transform: translate(0, calc(-100% - 1px));
            transform: translate(0, calc(-100% - 1px));
  }
}

#header a,
#header a:visited {
  text-decoration: none;
}

#header a:hover {
  text-decoration: none;
}

#header ul li {
  list-style: none;
}

#header .logo {
  position: absolute;
  top: 20px;
  left: 26px;
  margin-top: 0;
  width: 138px;
}

@media (max-width: 768px) {
  #header .logo {
    width: 75px;
    top: 30px;
    left: 19px;
    position: fixed;
    z-index: 1000;
  }
}

#header .logo a {
  display: block;
  width: 100%;
  height: 100%;
}

#header .logo a img {
  width: 100%;
  height: 100%;
}

.header__center {
  position: relative;
}

.header__center * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 998px) {
  .header__center {
    background: #f4f1ef;
  }
}

.header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 0px;
  overflow: hidden;
  padding-top: 20px;
  margin-left: 267px;
}

@media (max-width: 1070px) {
  .header_right {
    margin-left: 200px;
  }
}

@media (max-width: 992px) {
  .header_right {
    margin-left: 267px;
  }
}

.header_right > * {
  float: none;
}

.header_right .bx_field {
  background: #e1dcd9 url(../images/header/search.svg) no-repeat 6px center/16px 16px;
  border-radius: 15px;
}

.header_right .bx_field input[type="text"] {
  background: none;
}

@media only screen and (max-width: 999px) {
  .header_right.pr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  .header_right.pr {
    overflow: visible;
    padding: 0;
    margin: 0;
    padding-top: 97px;
    padding-right: 0 !important;
    margin-left: 0 !important;
  }
  .header_right.pr > * {
    float: none;
  }
  .header_right.pr #ms_container {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}

@media only screen and (max-width: 768px) and (max-width: 490px) {
  .header_right.pr #ms_container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media only screen and (max-width: 768px) {
  .header_right.pr #ms_container #title-search {
    width: 100%;
  }
  .header_right.pr .tel_block {
    margin-left: 10px;
    position: static;
  }
}

@media only screen and (max-width: 768px) and (max-width: 650px) {
  .header_right.pr .tel_block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 55%;
            flex: 1 1 55%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media only screen and (max-width: 768px) and (max-width: 490px) {
  .header_right.pr .tel_block {
    margin-left: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@media only screen and (max-width: 768px) {
  .header_right.pr .tel_block .tel {
    margin-left: 27px;
  }
  .header_right.pr .social-elements {
    margin-left: 10px;
    display: block;
  }
}

@media only screen and (max-width: 768px) and (max-width: 650px) {
  .header_right.pr .social-elements {
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) and (max-width: 650px) {
  .header_right.pr .back_call {
    margin-left: 15px;
    width: auto;
  }
}

@media only screen and (max-width: 768px) and (max-width: 490px) {
  .header_right.pr .back_call {
    margin-left: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .header_right.pr .back_call a {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) and (max-width: 490px) {
  .header_right.pr #reload_wishlist {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .header_right.pr .cart_info.btn {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 768px) and (max-width: 490px) {
  .header_right.pr .cart_info.btn {
    margin-left: 0;
    width: 228px !important;
  }
}

@media only screen and (max-width: 768px) {
  .header_right.pr .mobile-menu {
    display: block;
  }
}

@media screen and (max-width: 639px) {
  .header_right:last-of-type {
    overflow: visible;
    margin-left: 0;
    display: block;
    width: 100%;
  }
}

.search {
  width: 246px;
  height: 28px;
  margin-top: 0px;
  line-height: 28px;
}

@media (max-width: 999px) {
  .search {
    width: 180px;
  }
}

.search input[type="text"] {
  background: #e1dcd9 url(../images/header/search.svg) no-repeat 6px center/16px 16px;
  padding: 0 25px;
}

.search input[type="submit"] {
  position: absolute;
  top: 7px;
  right: 1px;
  width: 16px;
  height: 16px;
  border: none;
  background: url(../images/header/arrow.svg) no-repeat center/8px 15px;
}

.tel_block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 55px;
  width: auto;
  margin-top: 0px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1170px) {
  .tel_block {
    margin-left: 20px;
  }
}

@media (max-width: 999px) {
  .tel_block {
    margin-left: 100px;
  }
}

@media (max-width: 880px) {
  .tel_block {
    margin-left: 0px;
  }
}

.tel_block > *:first-child {
  width: 99px;
}

.tel_block > *:first-child br {
  display: none;
}

.tel_block p {
  font-family: 'Verdana';
  font-style: italic;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #837F7F;
}

.tel_block .tel {
  margin-left: 39px;
  padding-left: 0px;
  padding-top: 0px;
  font-size: 18px;
  background: none;
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #4B1814;
}

.tel_block .tel::before {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: -3px;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  background: url(../images/header/tel_icon.png) no-repeat 0 0/100% 100%;
}

@media only screen and (min-width: 1000px) and (max-width: 1100px) {
  .social-elements {
    width: auto;
    text-align: center;
    margin-left: 0;
    margin-top: 0;
  }
}

@media only screen and (min-width: 736px) and (max-width: 999px) {
  .social-elements {
    display: inline-block;
    margin-left: 0;
  }
}

.social-elements .social-title {
  margin-bottom: 0px;
  display: none;
}

.social-elements .social-list {
  font-size: 0;
  margin-left: 0px;
  text-align: center;
}

@media (max-width: 900px) {
  .social-elements .social-list {
    margin-left: 0;
  }
}

.social-elements .social-list li {
  padding: 0;
}

.social-elements .social-list li .social-list_item {
  width: 23px;
  height: 23px;
  border-radius: 0%;
}

.social-elements + .back_call {
  margin-left: 20px;
}

@media (max-width: 1170px) {
  .social-elements + .back_call {
    margin-left: 10px;
  }
}

.back_call {
  width: 157px;
  height: 28px;
  float: left;
}

@media screen and (max-width: 999px) {
  .back_call {
    position: relative;
    left: 0;
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.back_call a {
  text-transform: none;
  background: none;
  padding-left: 0px;
  width: 100%;
  height: 100%;
  padding-top: 0;
  font-family: 'Verdana';
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #FFFFFF;
  zoom: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #4B1814;
  border-radius: 30px;
}

@media screen and (max-width: 999px) {
  .back_call a {
    width: 125px;
  }
}

.back_call a:hover {
  color: #ffffff;
}

#nav {
  float: none;
  width: auto;
}

#nav li {
  margin-right: 0;
}

.first_nav {
  clear: both;
  overflow: visible;
  padding-bottom: 0;
}

.first_nav li {
  float: none;
}

.first_nav li:not(:first-child) {
  margin-left: 12px;
}

@media (max-width: 1170px) {
  .first_nav li:not(:first-child) {
    margin-left: 8px;
  }
}

.first_nav li a {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  text-decoration: none;
  padding-bottom: 0;
  border-bottom: none;
}

.first_nav li a.active {
  font-weight: 400;
  color: #4D7D23;
}

#reload_wishlist {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wish_info {
  width: 26px;
  height: 23px;
  text-decoration: none;
  margin: 0;
  margin-left: 80px;
  float: none;
  background: url(../images/header/like.png) 0 0/100% 100% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1170px) {
  .wish_info {
    margin-left: 0;
  }
}

.wish_info span {
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #FFFFFF;
}

.reload_call {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.cart_info.btn {
  display: inline-block;
  float: none;
  width: 228px;
  height: 28px;
  border: none;
  background: transparent;
  color: #3f3231;
  text-decoration: none;
  border-radius: 0px;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

@media (max-width: 1170px) {
  .cart_info.btn {
    margin-left: 10px;
  }
}

@media screen and (max-width: 999px) {
  .cart_info.btn {
    margin-left: 30px;
  }
}

.cart_info.btn > span {
  width: 100%;
  height: 100%;
  padding: 0;
  padding-left: 80px;
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #D9D4D0;
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #000000;
}

.cart_info.btn > span span.count {
  width: 35px;
  height: 22px;
  padding: 0;
  padding-left: 17px;
  position: absolute;
  left: 28px;
  top: 50%;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(../images/header/cart_info.png) center/100% 100% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #FFFFFF;
}

.cart_info.btn > span strong {
  padding: 0 3px;
}

.mobile-menu {
  width: auto;
  height: auto;
}

@media (max-width: 768px) {
  .mobile-menu {
    position: fixed;
    z-index: 1000;
    top: 34px;
    right: 20px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.mobile-menu .menu {
  width: 34px;
  height: 23px;
  position: relative;
}

.mobile-menu .menu span {
  height: 3px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.mobile-menu .menu span::before, .mobile-menu .menu span::after {
  height: 3px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.mobile-menu .menu span::before {
  bottom: -10px;
}

.mobile-menu .menu span::after {
  top: -10px;
}

.mobile-menu.active .menu {
  width: 30px;
}

.mobile-menu.active .menu span {
  background-color: transparent;
}

.mobile-menu.active .menu span::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile-menu.active .menu span::after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slogan {
  width: 168px;
  float: left;
  margin-top: 0px;
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #3F3231;
}

@media (max-width: 768px) {
  .slogan {
    position: fixed;
    z-index: 1000;
    top: 23px;
    left: 104px;
    width: 110px;
    text-align: left;
  }
}

.header_right-bottom {
  padding-top: 0;
}

@media (min-width: 999px) {
  .header-menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .header-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-menu__item {
    cursor: pointer;
    position: relative;
    padding: 2px 0;
  }
  .header-menu__item-arrow {
    position: relative;
  }
  .header-menu__item-arrow::before, .header-menu__item-arrow::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -6px;
    width: 8px;
    height: 2px;
    background-color: #4B1814;
    border-radius: 15px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header-menu__item-arrow::before {
    -webkit-transform: translate(calc(100% - 2.5px), -50%) rotate(45deg);
            transform: translate(calc(100% - 2.5px), -50%) rotate(45deg);
  }
  .header-menu__item-arrow::after {
    -webkit-transform: translate(calc(100% + 2.5px), -50%) rotate(-45deg);
            transform: translate(calc(100% + 2.5px), -50%) rotate(-45deg);
  }
  .header-menu__item-arrow:hover::before {
    -webkit-transform: translate(calc(100% - 2.5px), -50%) rotate(-45deg);
            transform: translate(calc(100% - 2.5px), -50%) rotate(-45deg);
  }
  .header-menu__item-arrow:hover::after {
    -webkit-transform: translate(calc(100% + 2.5px), -50%) rotate(45deg);
            transform: translate(calc(100% + 2.5px), -50%) rotate(45deg);
  }
  .header-menu__item-arrow:hover .header-submenu {
    opacity: 1;
    pointer-events: auto;
  }
  .header-menu__link {
    font-family: 'pf_din_text_comp_promedium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #4B1814;
  }
  .header-menu__link.active {
    color: #4D7D23;
  }
  .header-menu__link.active span {
    font-weight: 1000;
    font-style: italic;
  }
  .header-submenu {
    position: absolute;
    top: calc(100%);
    left: -20px;
    background: #4B1814;
    -webkit-box-shadow: 0px 4px 4px rgba(75, 24, 20, 0.15);
            box-shadow: 0px 4px 4px rgba(75, 24, 20, 0.15);
    padding: 26px 0 11px;
    cursor: default;
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
    pointer-events: none;
  }
  .header-submenu-catalog {
    width: 169px;
  }
  .header-submenu-colection {
    left: -177px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-submenu-colection .header-submenu__list {
    max-width: 100%;
    -webkit-columns: 4;
            columns: 4;
    -webkit-column-width: inherit;
            column-width: inherit;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .header-submenu-colection .header-submenu__list .header-submenu__link {
    white-space: nowrap;
  }
  .header-submenu-massif {
    width: 140px;
  }
  .header-submenu-massif .header-submenu-inner {
    top: 0;
  }
  .header-submenu-manufacturers {
    width: 206px;
  }
  .header-submenu__item-center {
    position: relative;
  }
  .header-submenu__item:hover .header-submenu-inner {
    opacity: 1;
    pointer-events: auto;
    z-index: 9;
  }
  .header-submenu__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 7px 20px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #FFFFFF;
  }
  .header-submenu__link:hover {
    background: #4D7D23;
  }
  .header-submenu-inner {
    position: absolute;
    right: 0;
    -webkit-transform: translate(calc(100% - 1px), 0);
            transform: translate(calc(100% - 1px), 0);
    background: #4B1814;
    -webkit-box-shadow: 0px 4px 4px rgba(75, 24, 20, 0.15);
            box-shadow: 0px 4px 4px rgba(75, 24, 20, 0.15);
    padding: 26px 0 11px;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header-submenu-inner__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 7px 20px;
    white-space: nowrap;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #FFFFFF;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header-submenu-inner__link:hover {
    background: #4D7D23;
  }
  .header-submenu-inner1 {
    top: 0;
  }
  .header-submenu-inner2 {
    top: 0;
  }
  .header-submenu-inner3 {
    top: -30px;
  }
  .header-submenu-inner4 {
    top: 0;
  }
  .header-submenu-inner5 {
    bottom: 0;
  }
  .header-submenu-inner6 {
    bottom: 0;
  }
  .header-submenu-inner7 {
    bottom: 0;
  }
  .header-submenu-inner8 {
    bottom: 0;
  }
}

@media (max-width: 999px) {
  .header-mobile-menu {
    width: 212px;
    position: absolute;
    top: 107px;
    right: 0;
    background: #4B1814;
    padding: 30px 0 28px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header-mobile-menu .menu__link-arrow {
    position: relative;
  }
  .header-mobile-menu .menu__link-arrow::before, .header-mobile-menu .menu__link-arrow::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 31px;
    width: 8px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 15px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }
  .header-mobile-menu .menu__link-arrow::before {
    -webkit-transform: translate(-2.5px, -50%) rotate(45deg);
            transform: translate(-2.5px, -50%) rotate(45deg);
  }
  .header-mobile-menu .menu__link-arrow::after {
    -webkit-transform: translate(2.5px, -50%) rotate(-45deg);
            transform: translate(2.5px, -50%) rotate(-45deg);
  }
  .header-mobile-menu .menu__link-arrow.active::before {
    -webkit-transform: translate(-2.5px, -50%) rotate(-45deg);
            transform: translate(-2.5px, -50%) rotate(-45deg);
  }
  .header-mobile-menu .menu__link-arrow.active::after {
    -webkit-transform: translate(2.5px, -50%) rotate(45deg);
            transform: translate(2.5px, -50%) rotate(45deg);
  }
  .header-mobile-menu__item:not(:first-child) {
    margin-top: 10px;
  }
  .header-mobile-menu__link {
    display: block;
    width: 100%;
    height: 100%;
    font-family: 'pf_din_text_comp_promedium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 5px 28px 1px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header-mobile-menu__link span {
    font-weight: 1000;
    font-style: italic;
  }
  .header-mobile-menu__link.active {
    background: #4D7D23;
  }
  .header-mobile-menu-mobile::-webkit-scrollbar {
    width: 0;
  }
  .header-mobile-submenu {
    display: none;
  }
  .header-mobile-submenu.header-mobile-submenu-colection .header-mobile-submenu__link {
    font-size: 10px;
    line-height: 12px;
  }
  .header-mobile-submenu__list {
    padding: 20px 0 8px;
  }
  .header-mobile-submenu__item:not(:first-child) {
    margin-top: 18px;
  }
  .header-mobile-submenu__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 25px 0 28px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #FFFFFF;
  }
  .header-mobile-submenu__link br {
    display: none;
  }
  .header-mobile-submenu-inner {
    display: none;
  }
  .header-mobile-submenu-inner__list {
    padding: 10px 18px 4px 42px;
  }
  .header-mobile-submenu-inner__item:not(:first-child) {
    margin-top: 13.2px;
  }
  .header-mobile-submenu-inner__link {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #FFFFFF;
  }
  .header-mobile-menu-bottom-mobile {
    display: block;
  }
  .header-mobile-menu-bottom-mobile__list {
    padding: 29px 28px 0;
  }
  .header-mobile-menu-bottom-mobile__item:not(:first-child) {
    margin-top: 16.5px;
  }
  .header-mobile-menu-bottom-mobile__link {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
  }
}

@media (max-width: 768px) {
  .header-mobile-menu {
    position: fixed;
    top: 77px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

.header-mobile-menu-mobile {
  display: none;
}

@media screen and (max-width: 999px) {
  .header-mobile-menu-mobile {
    display: block;
    max-height: calc(100vh - 106px);
    overflow-y: scroll;
    right: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
}

@media (max-width: 768px) {
  .header-mobile-menu-mobile {
    max-height: calc(100vh - 78px);
    right: -20px;
  }
}

.header-mobile-menu-mobile.active {
  opacity: 1;
  pointer-events: auto;
  z-index: 1000;
}

@media screen and (max-width: 999px) {
  .header-menu-desktop {
    display: none;
  }
}

.menu-mobile-back {
  display: none;
}

@media (max-width: 999px) {
  .menu-mobile-back {
    display: block;
    position: absolute;
    z-index: 999;
    top: 107px;
    left: 0;
    width: 0vw;
    height: 0vh;
    background: rgba(79, 58, 57, 0.4);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
  }
  .menu-mobile-back.active {
    opacity: 1;
    pointer-events: auto;
    width: 100vw;
    height: 100vh;
  }
}

@media (max-width: 768px) {
  .menu-mobile-back {
    position: fixed;
    top: 77px;
  }
}
/*# sourceMappingURL=newstyle-header.css.map */