@font-face {
	font-family: 'pf_din_text_comp_promedium';
	src: url('../fonts/pfdintextcomppro-xblackitalic/pfdintextcomppro-xblackitalic.eot');
	src: local('pfdintextcomppro-xblackitalic'), local('../fonts/pfdintextcomppro-xblackitalic/pfdintextcomppro-xblackitalic'),
		url('../fonts/pfdintextcomppro-xblackitalic/pfdintextcomppro-xblackitalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pfdintextcomppro-xblackitalic/pfdintextcomppro-xblackitalic.woff') format('woff'),
		url('../fonts/pfdintextcomppro-xblackitalic/pfdintextcomppro-xblackitalic.ttf') format('truetype');
	font-weight: 1000;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'pf_din_text_comp_promedium';
	src: url('../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium.eot');
	src: local('pfdintextcomppro-medium'), local('../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium'),
		url('../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium.woff') format('woff'),
		url('../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'pf_din_text_comp_proregular';
	src: url('../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular.eot');
	src: local('pfdintextcomppro-regular'), local('../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular'),
		url('../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular.woff') format('woff'),
		url('../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Verdana';
	src: url('../fonts/Verdana_Bold/Verdana_Bold.eot');
	src: local('Verdana_Bold'), local('../fonts/Verdana_Bold/Verdana_Bold'),
		url('../fonts/Verdana_Bold/Verdana_Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Verdana_Bold/Verdana_Bold.woff') format('woff'),
		url('../fonts/Verdana_Bold/Verdana_Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Verdana';
	src: url('../fonts/Verdana_Italic/Verdana_Italic.eot');
	src: local('Verdana_Italic'), local('../fonts/Verdana_Italic/Verdana_Italic'),
		url('../fonts/Verdana_Italic/Verdana_Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Verdana_Italic/Verdana_Italic.woff') format('woff'),
		url('../fonts/Verdana_Italic/Verdana_Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Verdana';
	src: url('../fonts/Verdana_regular/Verdana_regular.eot');
	src: local('Verdana_regular'), local('../fonts/Verdana_regular/Verdana_regular'),
		url('../fonts/Verdana_regular/Verdana_regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Verdana_regular/Verdana_regular.woff') format('woff'),
		url('../fonts/Verdana_regular/Verdana_regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body.active {
	overflow: hidden;
}
#wrap {
	padding-top: 147px;

	@media (max-width: 768px) {
		padding-top: 165px;
	}

	@media (max-width: 490px) {
		padding-top: 245px;
	}
}
.center {
	max-width: 1160px;
	padding: 0 18px;
}



/* header-------------------header-----------------------header----------------------header-----------------header */
#header {
	height: auto;
	background: #f4f1ef;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	padding-bottom: 12px;
	@media (max-width: 768px){
		position: absolute;
	}
}

.separator {
	background: url(../images/header/header.png) repeat-x 0 0;
	margin: 18px 0 12px;
	@media (max-width: 768px){
		overflow: visible;
		position: fixed;
		z-index: 999;
		top: 77px;
		left: 0;
		margin: 0 0 0 -20px;
		width: calc(100% + 20px);
		&::before{
			content:'';
			position: absolute;
			z-index: 999;
			top: 0;
			left: 0;
			width: 100%;
			height: 77px;
			background: #f4f1ef;
			transform: translate(0, calc(-100% - 1px));
		}
	}
}


#header {
	*,
	*:before,
	*:after {
		
	}

	a,
	a:visited {
		text-decoration: none;
	}

	a:hover {
		text-decoration: none;
	}

	ul li {
		list-style: none;
	}
	.logo {
		position: absolute;
		top: 20px;
		left: 26px;
		margin-top: 0;
		width: 138px;
		@media (max-width: 768px){
			width: 75px;
			top: 30px;
			left: 19px;
			position: fixed;
			z-index: 1000;
		}
		a {
			display: block;
			width: 100%;
			height: 100%;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}
.header__center {
	position: relative;
	* {
		box-sizing: border-box;
	}
	@media (max-width: 998px){
		background: #f4f1ef;
	}
}

.header_right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	row-gap: 12px;
	flex-wrap: wrap;
	margin-left: 0px;
	overflow: hidden;
	padding-top: 20px;
	margin-left: 267px;
	>* {
		float: none;
	}
	.bx_field {
		background: #e1dcd9 url(../images/header/search.svg) no-repeat 6px center/16px 16px;
		border-radius: 15px;
		input[type="text"] {
			background: none;
		}
	}
}
@media only screen and (max-width: 999px) {
	.header_right.pr {
		display: flex;
	}
}
@media only screen and (max-width: 768px) {
	.header_right.pr {
		overflow: visible;
		padding: 0;
		margin: 0;
		padding-top: 97px;
		padding-right: 0!important;
		margin-left: 0!important;
		>* {
			float: none;
		}
		#ms_container {
			flex: 0 1 40%;
			@media (max-width: 490px){
				flex: 1 1 100%;
			}
			#title-search {
				width: 100%;
				
			}
		}
		.tel_block {
			margin-left: 10px;
			position: static;
			@media (max-width: 650px){
				flex: 1 1 55%;
				justify-content: flex-end;
			}
			@media (max-width: 490px) {
				margin-left: 0;
				flex: 0 1 auto;
			}
			.tel {
				margin-left: 27px;
			}
		}
		.social-elements {
			margin-left: 10px;
			display: block;
			@media (max-width: 650px){
				margin-left: 0;
			}
		}
		.back_call {
			@media (max-width: 650px){
				margin-left: 15px;
				width: auto;
			}
			@media (max-width: 490px){
				margin-left: 0;
				flex: 1 1 100%;
				a {
					width: 100%;
				}
			}
		}
		#reload_wishlist {
			@media (max-width: 490px){
				position: absolute;
				bottom: 0;
				right: 0;
			}
		}
		.cart_info.btn {
			margin-left: 15px;
			@media (max-width: 490px){
				margin-left: 0;
				width: 228px!important;
			}
		}
		.mobile-menu {
			display: block;
		}
	}
}
@media screen and (max-width: 639px) {
	.header_right:last-of-type {

		overflow: visible;
		margin-left: 0;
		display: block;
		width: 100%;
	}
}


.search {
	width: 246px;
	height: 28px;
	margin-top: 0px;
	line-height: 28px;
	@media (max-width: 999px){
		width: 180px;
	}
	input[type="text"] {
		background: #e1dcd9 url(../images/header/search.svg) no-repeat 6px center / 16px 16px;
		padding: 0 25px;
	}
	input[type="submit"] {
		position: absolute;
		top: 7px;
		right: 1px;
		width: 16px;
		height: 16px;
		border: none;
		background: url(../images/header/arrow.svg) no-repeat center / 8px 15px;
	}
}

.tel_block {
	margin-left: 55px;
	width: auto;
	margin-top: 0px;
	line-height: 14px;
	display: flex;
	align-items: center;
	@media (max-width: 1170px){
		margin-left: 0px;
	}
	@media (max-width: 999px){
		margin-left: 100px;
	}
	@media (max-width: 880px){
		margin-left: 0px;
	}
	>* {
		&:first-child{
			width: 99px;
			br {
				display: none;
			}
		}
	}
	p {
		font-family: 'Verdana';
		font-style: italic;
		font-weight: 400;
		font-size: 10px;
		line-height: 14px;
		color: #837F7F;
	}
	.tel {
		margin-left: 39px;
		padding-left: 0px;
		padding-top: 0px;
		font-size: 18px;
		background: none;
		position: relative;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #4B1814;
		&::before {
			content: '';
			width: 16px;
			height: 16px;
			position: absolute;
			top: 50%;
			left: -3px;
			transform: translate(-100%, -50%);
			background: url(../images/header/phone-call.svg) no-repeat 0 0 / 100% 100%;
		}
	}
}

.social-elements {
	@media only screen and (min-width: 1000px) and (max-width: 1100px){
		width: auto;
		text-align: center;
		margin-left: 0;
		margin-top: 0;
	}
	@media only screen and (min-width: 736px) and (max-width: 999px) {
		display: inline-block;
		margin-left: 0;
	}
	.social-title {
		margin-bottom: 0px;
		display: none;
	}
	.social-list {
		font-size: 0;
		margin-left: 20px;
		text-align: center;
		@media (max-width: 900px){
			margin-left: 0;
		}
		li {
			padding: 0;
			.social-list_item {
				width: 23px;
				height: 23px;
				border-radius: 0%;
			}
		}
	}
}

.social-elements+.back_call {
	margin-left: 20px;
	@media (max-width: 1170px){
		margin-left: 0px;
	}
}
.back_call {
	width: 157px;
	height: 28px;
	float: left;
	@media screen and (max-width: 999px) {
		position: relative;
		left: 0;
		margin: 0;
		flex: 1 1 auto;
	}
}
.back_call a {
	text-transform: none;
	background: none;
	padding-left: 0px;
	width: 100%;
	height: 100%;
	padding-top: 0;
	font-family: 'Verdana';
	font-weight: 400;
	font-size: 10px;
	line-height: 14px;
	color: #FFFFFF;
	zoom: 1;
	transition: all 1s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #4B1814;
	border-radius: 30px;
	@media screen and (max-width: 999px) {
		width: 125px;
	}
	&:hover {
		color: #ffffff;
	}
}

#nav {
	float: none;
	width: auto;
	li {
		margin-right: 0;
	}
}
.first_nav {
	clear: both;
	overflow: visible;
	padding-bottom: 0;
	li {
		float: none;
		&:not(:first-child) {
			margin-left: 12px;
			@media (max-width: 1170px){
				margin-left: 8px;
			}
		}

		a {
			font-weight: 400;
			font-size: 10px;
			line-height: 12px;
			color: #000000;
			text-decoration: none;
			padding-bottom: 0;
			border-bottom: none;
			&.active {
				font-weight: 400;
				color: #4D7D23;
			}
		}
	}
}


.wish_info {
	width: 26px;
	height: 23px;
	text-decoration: none;
	margin: 0;
	margin-left: 80px;
	float: none;
	background: url(../images/header/like.png) 0 0 / 100% 100% no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	@media (max-width: 1170px){
		margin-left: 0;
	}
	span {
		font-weight: 700;
		font-size: 10px;
		line-height: 14px;
		color: #FFFFFF;
	}
}


.reload_call {
	flex: 1 1 auto;
}
.cart_info.btn {
	display: inline-block;
	float: none;
	width: 228px;
	height: 28px;
	border: none;
	background: transparent;
	color: #3f3231;
	text-decoration: none;
	border-radius: 0px;
	margin: 0;
	margin-left: 20px;
	padding: 0;
	@media (max-width: 1170px){
		margin-left: 0;
	}
	@media screen and (max-width: 999px){
		margin-left: 30px;
	}
	>span {
		width: 100%;
		height: 100%;
		padding: 0;
		padding-left: 80px;
		background-color: transparent;
		background-image: none;
		box-shadow: none;
		background: #D9D4D0;
		border-radius: 14px;
		display: flex;
		align-items: center;
		text-align: center;
		font-weight: 400;
		font-size: 10px;
		line-height: 14px;
		color: #000000;
		span.count {
			width: 35px;
			height: 22px;
			padding: 0;
			padding-left: 17px;
			position: absolute;
			left: 28px;
			top: 50%;
			border: none;
			box-shadow: none;
			border-radius: 0;
			transform: translate(0, -50%);
			background: url(../images/header/cart_info.png) center / 100% 100% no-repeat;
			display: flex;
			align-items: center;
			font-weight: 700;
			font-size: 10px;
			line-height: 14px;
			color: #FFFFFF;
		}
		strong {
			padding: 0 3px;
		}
	}
}


.mobile-menu {
	width: auto;
	height: auto;
	@media (max-width: 768px){
		position: fixed;
		z-index: 1000;
		top: 34px;
		right: 20px;
		flex: 1 1 auto;
		display: flex;
		justify-content: flex-end;
	}
	.menu {
		width: 34px;
		height: 23px;
		position: relative;
		span {
			height: 3px;
			transition: all 0.3s ease 0s;
			&::before, &::after {
				height: 3px;
				transition: all 0.3s ease 0s;
			}
			&::before{
				bottom: -10px;
			}
			&::after{
				top: -10px;
			}
		}
	}
	&.active {
		.menu {
			width: 30px;
			span {
				background-color: transparent;
				&::before{
					top: 0;
					transform: rotate(-45deg);
				}
				&::after{
					top: 0;
					transform: rotate(45deg);
				}
			}
		}
	}
}


.slogan {
	width: 168px;
	float: left;
	margin-top: 0px;
	font-family: 'Verdana';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 14px;
	text-align: center;
	color: #3F3231;
	@media (max-width: 768px){
		position: fixed;
		z-index: 1000;
		top: 23px;
		left: 104px;
		width: 110px;
		text-align: left;
	}
}




.header_right-bottom {
	padding-top: 0;
}


@media (min-width: 999px){
	.header-menu {
		flex: 1 1 auto;
		&__list {
			display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	&__item {
		cursor: pointer;
		position: relative;
		padding: 2px 0;
		&-arrow {
			
			position: relative;
			&::before,&::after{
				content:'';
				position: absolute;
				top: 50%;
				right: -6px;
				width: 8px;
				height: 2px;
				background-color: #4B1814;
				border-radius: 15px;
				transition: all 0.3s ease 0s;
			}
			&::before{
				transform: translate(calc(100% - 2.5px), -50%) rotate(45deg);
			}
			&::after{
				transform: translate(calc(100% + 2.5px), -50%) rotate(-45deg);
			}
			
			&:hover {
				&::before {
					transform: translate(calc(100% - 2.5px), -50%) rotate(-45deg);
				}
				
				&::after {
					transform: translate(calc(100% + 2.5px), -50%) rotate(45deg);
					}

					.header-submenu {
						opacity: 1;
						pointer-events: auto;
					}
				}
			}
		}
		
		&__link {
			font-family: 'pf_din_text_comp_promedium';
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			color: #4B1814;
			&.active {
				color: #4D7D23;
				span {
					font-weight: 1000;
					font-style: italic;
				}
			}
		}
	}
	
	.header-submenu {
		position: absolute;
		top: calc(100%);
		left: -20px;
		background: #4B1814;
		box-shadow: 0px 4px 4px rgba(75, 24, 20, 0.15);
		padding: 26px 0 11px;
		cursor: default;
		transform: translate(0, 0%);
		transition: all 0.3s ease 0s;
		opacity: 0;
		pointer-events: none;
		&-catalog {
			width: 169px;
		}
		&-colection {
			left: -177px;
			display: flex;
			justify-content: space-between;
			.header-submenu__list {
				max-width: 100%;
				columns: 4;
				column-width: inherit;
				column-gap: 0;
				.header-submenu__link {
					white-space: nowrap;
				}
			}
		}
		&-massif {
			width: 140px;
			.header-submenu-inner {
				top: 0;
			}
		}
	&-manufacturers {
		width: 206px;
	}
	&__list {
	}
	
	&__item {
		&-center {
			position: relative;
		}
		&:hover{
			.header-submenu-inner {
				opacity: 1;
				pointer-events: auto;
				z-index: 9;
			}
		}
	}
	
	&__link {
		display: block;
		width: 100%;
		height: 100%;
		padding: 7px 20px;
		transition: all 0.3s ease 0s;
		
		font-family: 'Verdana';
		font-style: normal;
		font-weight: 400;
		font-size: 11px;
		line-height: 13px;
		color: #FFFFFF;
		&:hover {
			background: #4D7D23;
		}
	}
}

.header-submenu-inner {
	position: absolute;
	right: 0;
	transform: translate(calc(100% - 1px), 0);
	background: #4B1814;
	box-shadow: 0px 4px 4px rgba(75, 24, 20, 0.15);
	padding: 26px 0 11px;
	opacity: 0;
	pointer-events: none;
	z-index: -1;
	transition: all 0.3s ease 0s;
	&__list {}
	
	&__item {}
	
	&__link {
		display: block;
		width: 100%;
		height: 100%;
		padding: 7px 20px;
		white-space: nowrap;
		font-family: 'Verdana';
		font-style: normal;
		font-weight: 400;
		font-size: 11px;
		line-height: 13px;
		color: #FFFFFF;
		transition: all 0.3s ease 0s;
		&:hover {
			background: #4D7D23;
		}
	}
}
.header-submenu-inner1 {
	top: 0;
}
.header-submenu-inner2 {
	top: 0;
}
.header-submenu-inner3 {
	top: -30px;
}
.header-submenu-inner4 {
	top: 0;
}
.header-submenu-inner5 {
	bottom: 0;
}
.header-submenu-inner6 {
	bottom: 0;
}
.header-submenu-inner7 {
	bottom: 0;
}
.header-submenu-inner8 {
	bottom: 0;
}
}





@media (max-width: 999px) {
	.header-mobile-menu {
		width: 212px;
		position: absolute;
		top: 107px;
		right: 0;
		background: #4B1814;
		padding: 30px 0 28px;
		transition: all 0.3s ease 0s;

		.menu__link-arrow {
			position: relative;

			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				right: 31px;
				width: 8px;
				height: 2px;
				background-color: #ffffff;
				border-radius: 15px;
				transition: all 0.2s ease 0s;
			}

			&::before {
				transform: translate(-2.5px, -50%) rotate(45deg);
			}

			&::after {
				transform: translate(2.5px, -50%) rotate(-45deg);
			}

			&.active {
				&::before {
					transform: translate(-2.5px, -50%) rotate(-45deg);
				}

				&::after {
					transform: translate(2.5px, -50%) rotate(45deg);
				}
			}
		}

		&__list {}

		&__item {
			&:not(:first-child) {
				margin-top: 10px;
			}
		}

		&__link {
			display: block;
			width: 100%;
			height: 100%;
			font-family: 'pf_din_text_comp_promedium';
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			color: #FFFFFF;
			padding: 5px 28px 1px;
			transition: all 0.3s ease 0s;

			span {
				font-weight: 1000;
				font-style: italic;
			}

			&.active {
				background: #4D7D23;
			}
		}
	}

	.header-mobile-menu-mobile::-webkit-scrollbar {
		width: 0;
	}

	.header-mobile-submenu {
		display: none;

		&.header-mobile-submenu-colection {
			.header-mobile-submenu__link {
				font-size: 10px;
				line-height: 12px;
			}
		}

		&__list {
			padding: 20px 0 8px;
		}

		&__item {
			&:not(:first-child) {
				margin-top: 18px;
			}
		}

		&__link {
			display: block;
			width: 100%;
			height: 100%;
			padding: 0 25px 0 28px;
			font-family: 'Verdana';
			font-style: normal;
			font-weight: 400;
			font-size: 11px;
			line-height: 13px;
			color: #FFFFFF;

			br {
				display: none;
			}
		}
	}


	.header-mobile-submenu-inner {
		display: none;

		&__list {
			padding: 10px 18px 4px 42px;
		}

		&__item {
			&:not(:first-child) {
				margin-top: 13.2px;
			}
		}

		&__link {
			font-family: 'Verdana';
			font-style: normal;
			font-weight: 400;
			font-size: 11px;
			line-height: 13px;
			color: #FFFFFF;
		}
	}

	.header-mobile-menu-bottom-mobile {
		display: block;

		&__list {
			padding: 29px 28px 0;
		}

		&__item {
			&:not(:first-child) {
				margin-top: 16.5px;
			}
		}

		&__link {
			font-family: 'Verdana';
			font-style: normal;
			font-weight: 400;
			font-size: 10px;
			line-height: 12px;
			color: #FFFFFF;
		}
	}
}

@media (max-width: 768px) {
	.header-mobile-menu {
		position: fixed;
		top: 77px;
		transition: all 0.3s ease 0s;
	}
}

.header-mobile-menu {
	&-mobile {
		display: none;

		@media screen and (max-width: 999px) {
			display: block;
			max-height: calc(100vh - 106px);
			overflow-y: scroll;
			right: 0;
			opacity: 0;
			pointer-events: none;
			z-index: -1;
		}

		@media (max-width: 768px) {
			max-height: calc(100vh - 78px);
			right: -20px;
		}

		&.active {
			opacity: 1;
			pointer-events: auto;
			z-index: 1000;
		}
	}
}

.header-menu {
	&-desktop {
		@media screen and (max-width: 999px) {
			display: none;
		}
	}
}


.menu-mobile-back {
	display: none;
	@media (max-width: 999px){
		display: block;
		position: absolute;
		z-index: 999;
		top: 107px;
		left: 0;
		width: 0vw;
		height: 0vh;
		background: rgba(79, 58, 57, 0.4);
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s ease 0s;
		&.active {
			opacity: 1;
			pointer-events: auto;
			width: 100vw;
			height: 100vh;
		}
	}
	@media (max-width: 768px){
		position: fixed;
		top: 77px;
	}
}
