

/* Start:/bitrix/templates/lidamebel_new/components/lida/iblock.vote/custom/style.css?1659106853753*/
.bx_item_detail_rating{}
.bx_item_detail_rating td{
	vertical-align: top;
	text-align: right;
	padding:0;
}
.bx_item_detail_rating .bx_stars_container{
	position: relative;
	width: 107px;
	height: 18px;
	background: #9f9f9f;
	background-size: 100% 100%;
}
.bx_item_detail_rating .bx_stars_bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 101;
	background: url(/bitrix/templates/lidamebel_new/components/lida/iblock.vote/custom/images/stars.png) no-repeat center;
	cursor: pointer;
}

.bx_item_detail_rating .bx_stars_progres{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background: #ffcd00;
}
.bx_item_detail_rating .bx_stars_rating_votes{
	color: #8d8d8d;
	font-size: 11px;
	line-height: 11px;
	vertical-align: middle;
}

/*.bx_item_detail_rating .bx_vam{vertical-align: middle;}*/

/* End */


/* Start:/bitrix/templates/lidamebel_new/components/bitrix/news.list/reviews_element_new/style.css?1659106853108*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/templates/lidamebel_new/components/lida/iblock.vote/custom/style.css?1659106853753 */
/* /bitrix/templates/lidamebel_new/components/bitrix/news.list/reviews_element_new/style.css?1659106853108 */
